@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-Thin.woff2) format("woff2"),url(/fonts/IBMPlexSans-Thin.woff) format("woff")
}

@font-face {
  font-family: Plex Serif;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-ThinItalic.woff2) format("woff2"),url(/fonts/IBMPlexSans-ThinItalic.woff) format("woff")
}

@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-ExtraLight.woff2) format("woff2"),url(/fonts/IBMPlexSans-ExtraLight.woff) format("woff")
}

@font-face {
  font-family: Plex Serif;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-ExtraLightItalic.woff2) format("woff2"),url(/fonts/IBMPlexSans-ExtraLightItalic.woff) format("woff")
}

@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-Light.woff2) format("woff2"),url(/fonts/IBMPlexSans-Light.woff) format("woff")
}

@font-face {
  font-family: Plex Serif;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-LightItalic.woff2) format("woff2"),url(/fonts/IBMPlexSans-LightItalic.woff) format("woff")
}

@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-Regular.woff2) format("woff2"),url(/fonts/IBMPlexSans-Regular.woff) format("woff")
}

@font-face {
  font-family: "Plex Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-Italic.woff2) format("woff2"),url(/fonts/IBMPlexSans-Italic.woff) format("woff")
}

@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-Medium.woff2) format("woff2"),url(/fonts/IBMPlexSans-Medium.woff) format("woff")
}

@font-face {
  font-family: "Plex Serif";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-MediumItalic.woff2) format("woff2"),url(/fonts/IBMPlexSans-MediumItalic.woff) format("woff")
}

@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-SemiBold.woff2) format("woff2"),url(/fonts/IBMPlexSans-SemiBold.woff) format("woff")
}

@font-face {
  font-family: "Plex Serif";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-SemiBoldItalic.woff2) format("woff2"),url(/fonts/IBMPlexSans-SemiBoldItalic.woff) format("woff")
}

@font-face {
  font-family: Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-Bold.woff2) format("woff2"),url(/fonts/IBMPlexSans-Bold.woff) format("woff")
}

@font-face {
  font-family: Plex Serif;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/IBMPlexSans-BoldItalic.woff2) format("woff2"),url(/fonts/IBMPlexSans-BoldItalic.woff) format("woff")
}
