---
// import { UnsubscribeIllustration } from "../components/ConfirmMessage/Illustrations"
---

<style></style>
<div class="flex items-center flex-col justify-center w-full h-screen">
  <!-- {UnsubscribeIllustration} -->
  <h1>NOT FOUND</h1>
  <p>You just hit a route that doesn't exist... the sadness.</p>
</div>
