---
import PageLayout from '../layouts/page-layout.astro'
import story from "../data/story"
import StoryRenderer from "../components/StoryRenderer.tsx"

import { AllowedCategories } from "../utils/prepare-story-data"
---

<PageLayout activePage="clients" title="My Clients">
  <div class="my-prose w-full max-w-[1000px] p-10 ml-auto mr-auto mt-0 mb-0">
    <StoryRenderer client:visible story={story} categories={[AllowedCategories.Client]} />
  </div>
</PageLayout>  