.story-wrapper {
    background: white;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;

}

.story-wrapper  ul {
  list-style: none;
  margin: 0;
}

.story-wrapper h4 {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 34px;
  margin: 0;
}

.story-wrapper h2 {
  margin: 0;
  margin-right: 5px;
  flex: 1 1;
  /* ${bpMaxSM} {
    margin-bottom: 10px;
  }
  ${bpMaxSM} {
    max-width: 100%;
  } */
}

.story-wrapper hr {
  margin: 20px 0;
  opacity: 0.5;
}

.story-wrapper li > time {
  float: right;
  font-size: 14px;
  opacity: 0.8;
}

.story-wrapper li {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  justify-content: space-between;
}

.story-wrapper .tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2.5px 0 -2.5px;
  /* ${bpMaxSM} {
    display: none;
    visibility: invisible;
  } */
}

.story-wrapper .tag {
  padding: 1px 8px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  font-size: 12px;
  margin: 2.5px;
  /* background-color: ${theme.colors.background_color}; */
  background-color: e2e2e2;
  /* ${bpMaxSM} {
    padding: 6px 8px;
    font-size: 14px;
  } */
}

.story-wrapper img {
  margin-bottom: 0;
}

  /* ${bpMaxSM} {
    padding: 20px;
  } */

.story-block a {
  color: inherit;
}  