---
import PageLayout from "../../layouts/page-layout.astro";
import story from "../../data/story.de";
import StoryRenderer from "../../components/StoryRenderer.tsx";

import { AllowedCategories } from "../../utils/prepare-story-data";
---

<PageLayout activePage="clients" title="Meine Kunden" lang="de">
  <div class="my-prose w-full max-w-[1000px] p-3 md:p-10 ml-auto mr-auto mt-0 mb-0">
    <StoryRenderer client:visible story={story} lang="de" withDescription categories={[AllowedCategories.Client]} />
  </div>
</PageLayout>
