---
import CommonLayout from "./common-layout.astro"

export interface Props {
	activePage: string
	title?: string
}

const { activePage, title = "AGYNAMIX Torsten Uhlmann" } = Astro.props
---

<CommonLayout activePage={activePage} title={title}>
	<div class="py-20">
		<slot /> <!-- Content goes here -->
	</div>
</CommonLayout>